extends ../baseEmail
block templates/content
	p Oh no! You forgot your password!
	p Don't worry, simply click the link below to reset your password in the browser.
	br
	p.email-link
		a.email-btn(href=`${url}`, target='_blank') Reset Password
	br
	br
	p Any issues? Contact us for assistance if needed.